body {
  font-family: 'Nunito', sans-serif;
}

.app {
  height: 100vh;
  width: 100%;
  top: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.name-title {
  color: white;
  margin-left: 32px;
  margin-top: 32px;
}

.name {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 90px;
  font-weight: 900;
  text-shadow: rgba(113, 113, 145, 0.577)
}

.title {
  font-size: 45px;
  font-weight: 900;
  margin-top: -32px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 3px 5px 5px rgba(36, 36, 36, 0.233);
  position: fixed;
  bottom: 60px;
  right: 30px;
  overflow: hidden;
}

.profile-picture img {
  height: 100%;
  margin-left: -25%;
}


.detail-page {
  height: 100vh;
  width: 100%;
  background-color: rgb(36, 36, 36);
  overflow: auto;
}

#scroll::-webkit-scrollbar {
  display: none;
}

#scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@media only screen and (max-width: 600px) {
  .detail-page {
    overflow-y: auto;
  }

  .name {
    font-size: 32px;
  }

  .title {
    font-size: 24px;
    margin: 0;
  }
}